<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans-4.1.xsd">
    
	<!-- javamelody  -->
	<bean id="facadeMonitoringAdvisor" class="net.bull.javamelody.MonitoringSpringAdvisor">
	      <property name="pointcut">
	              <bean class="org.springframework.aop.support.JdkRegexpMethodPointcut">
	                      <property name="patterns">
	                          <list>
	                              <value>demo.soa.misc.handler.*</value>
	                              <value>demo.soa.misc.service.storge.impl.*</value>
	                              <value>demo.soa.*.service.impl.*</value>
	                              <value>demo.soa.*.controller.impl.*</value>
	                          </list>
	                      </property>
	              </bean>
	      </property>
    </bean>			


</beans>